<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <listeners>
        <listener class-name="techproed.utilities.Listeners"></listener>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="Listeners xml çalıştırma">
        <classes>
            <class name="techproed.tests.T26_Listeners.C02_ListenersTest">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                    <include name="test03"/>
                    <include name="test04"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
        <!-- Listeners yapısı ile .xml file üzerinden rapor alabiliriz.Bunun icin .xml file üzerinde
        right click yapıp modifyRunConfiguration sekmesine tiklayip sonrasinda Listeners bolumunden + isaretine
         basarak arama bolumune report yazarak ilk cikan report'u ekliyoruz. .xml fileden testlerimizi calistirdiktan sonra
        test-output altinda raporumuzu gorebiliriz-->